.logo {
	color: var(--color-white);
	font-size: var(--text-2xl);
	font-weight: 700;
	transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
}

.logo:hover {
	color: var(--color-gray-200);
}
