.productContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-white);
	border: 1px solid var(--color-gray-200);
	padding: 12px 24px 12px 12px;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;

	transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-ms-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
}

.productContainer:hover {
	background-color: var(--color-gray-100);
}

.itemZeroQuantity {
	border-color: var(--color-gray-100);
}

.itemZeroQuantity:hover {
	background-color: var(--color-white);
}

.itemZeroQuantity .detailsWrapper {
	opacity: 0.5;
}

.detailsWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
}

.productImage {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.productDetails {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.productName {
	font-weight: var(--font-semibold);
	font-size: var(--text-m);
}

.productPrice {
	font-weight: var(--font-regular);
	font-size: var(--text-l);
}
